
body {
    font-family: serif;
    background-color: rgb(227, 19, 19);
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h1 {
    text-align: center;
    background-color: rgb(241, 46, 46);
    max-width: 520px;
    padding: 18px;
    border-radius: 24px;
    margin: 30px auto;
}


.container{
    width: 90%;
    max-width: 640px;
    box-sizing: border-box;
    margin: 10px auto;
}


h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
}


input[type="text"],
input[type="number"],
select {
    text-align: center;
    background-color: rgb(249, 187, 63);
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    width: 100%; 
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #000;
}


input[type="checkbox"],
input[type="radio"] {
    text-align: center;
}


button {
    background-color: rgb(204, 12, 12);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

button:hover {
    background-color: rgb(240, 156, 86);
}


pre#risultati {
    background-color: rgba(255,255,255,0.2);
    padding: 18px;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 15px;
}
